@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Gajraj One';
    src: url('../fonts/GajrajOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBarcode128Text';
    src: url('../fonts/LibreBarcode128Text-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Подключение StalinistOne-Regular */
  @font-face {
    font-family: 'StalinistOne';
    src: url('../fonts/StalinistOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.CatalogBody{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3078px;
    overflow-x: hidden;
    overflow-y: auto; 
}
.slide1{
    position: absolute;
    width: 100%;
    height: 891px;
}

.bg_catalog{
    position: absolute;
    width: 100%;
    height: 952px;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 100px;
}
.logo{
    position: absolute;
    width: 88px;
    height: 80px;
    margin-top: 10px;
    margin-left: 80px;
    color: #FFFFFF;
}

.logo_txt{
    font-family: 'Oi';
    font-size: 16px;
    align-items: flex-start;

}

.menu{
    position: absolute;
    width: 553px;
    height: 43px;
    margin-top: 28px;
    margin-left: 443px;
    border: solid 0.5px white ;
    border-radius: 80px;
}

.menu_1{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 45px;
    height: 19px;
    margin-top: 12px;
    margin-left: 120px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}
.menu_2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 65px;
    height: 19px;
    margin-top: 12px;
    margin-left: 225px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}
.menu_3{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 83px;
    height: 19px;
    margin-top: 12px;
    margin-left: 350px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}

.log-in-author {
    position: absolute;
    width: 174px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-left: 1186px;
    border: 0.8px solid white;

    border-radius: 80px;
    display: flex;
    align-items: center; 
    background-color: transparent;
    justify-content: space-evenly; 
    padding: 0 20px; 
}

.Author {
    margin: 0;
    padding: 0;
    width: 62px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.Catalog_maintxt{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 788px;
    height: 142px;
    font-family: 'Stalinist One';
    font-size: 96px;
    color: rgb(255, 255, 255, 10%);
    top: 120px;
    left: 80px;
}

.Catalog_maintxt2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 869px;
    height: 142px;
    font-family: 'Stalinist One';
    font-size: 96px;
    color: rgb(255, 255, 255, 10%);
    top: 767px;
    left: 491px;
}

.Catalog_maintxt3{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 713px;
    height: 142px;
    font-family: 'Stalinist One';
    font-size: 96px;
    color: rgb(255, 255, 255, 10%);
    top: 696px;
    left: 647px;
}

.Catalog_txt{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 121px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 300;
    color: #5F5F5F;
    top: 131px;
    left: 80px;
}

.catalog_img1{
    position: absolute;
    width: 305px;
    height: 432px;
    left: 839px;
    top: 191px;
}
.catalog_img2{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 1164px;
    top: 499px;
}

.catalog_img3{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 1272px;
    top: 499px;
}


.catalog_img4{
    position: absolute;
    width: 305px;
    height: 432px;
    left: 80px;
    top: 435px;
}


.catalog_img5{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 407px;
    top: 435px;
}

.catalog_img6{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 515px;
    top: 435px;
}


.catalog_img7{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 515px;
    top: 191px;
}

.catalog_img9{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 623px;
    top: 191px;
}

.catalog_img8{
    position: absolute;
    width: 88px;
    height: 124px;
    left: 731px;
    top: 191px;
}

.Catalog_txt2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 235px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    top: 658px;
    left: 874px;
}
.Catalog_txt1{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 132px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    top: 631px;
    left: 926px;
}
.Catalog_txt3{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 132px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    top: 875px;
    left: 167px;
}
.Catalog_txt4{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 235px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    top: 902px;
    left: 115px;
}

.Catalog_maintxt4{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 284px;
    height: 76px;
    font-family: 'Jura';
    font-weight: 700;
    font-size: 64px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(255, 255, 255);
    left: 80px;
    top: 191px;
}

.catalog_group1{
    position: absolute;
    width: 304px;
    height: 123.45px;
    left: 478px;
    top: 542px;
}

.svg_catalog1{
    position: absolute;

}

.svg_catalog2{
    position: absolute;
    left: 27.29px;
}

.txt_catalog_svg{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 272px;
    height: 76px;
    left: 16px;
    top: 28px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;

}
.catalog_group2{
    position: absolute;
    left: 1164px;
    top: 371px;
    width: 196px;
    height: 105px;
}

.barcode1{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 93px;
    height: 40px;
    left: 1164px;
    top: 308px;
    font-family: 'LibreBarcode128Text';
    font-size: 40px;
    color: #FFFFFF;
}

.barcode2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 93px;
    height: 40px;
    left: 1267px;
    top: 308px;
    font-family: 'LibreBarcode128Text';
    font-size: 40px;
    color: #FFFFFF;
}

.catalog_group3{
    position: absolute;
    width: 479px;
    height: 101px;
    left: 881px;
    top: 145px;
}

.svg_catalog3{
    position: absolute;
    top: 6px;
    left: -1px;
}

.svg_catalog4{
    position: absolute;
    left: 369px;
    top: -10px;
}
.svg_catalog5{
    position: absolute;
    left: 63px;
    top: 21px;
}

.bubble_catalog{
    position: absolute;
    width: 133px;
    height: 170px;
    left: 0px;
    top: 351px;
}
.bubble_catalog2{
    position: absolute;
    width: 232px;
    height: 212px;
    left: 1252px;
    top: 803px;
}

.eclipse_catalog{
    position: absolute;
    width: 79px;
    height: 79px;
    left: 71px;
    top: 324px;
}

.svg_catalog6{
    position: absolute;
    width: 273.5px;
    height: 45.28px;
    left: 1086px;
    top: 821px;
}

.slide2_catalog{
    position: absolute;
    top: 952px;
    height: 1685px;
    width: 100%;
    background-color: #000000;
}

.group_slide2{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    height: 178px;
    width: 100%;
}
.Vector0{
    position: absolute;
    margin: 0;
    padding: 0;
}
.product_search_catalog{
    position: absolute;
    width: 305px;
    height: 94px;
    left: 75px;
    top: 42px;
}

.Vector1{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 151px;
    top: 82px;
}

.Vector2{
    position: absolute;
    margin: 0;
    padding: 0;
}

.Vector3{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 23px;
    top: 19px;
}
.Vector4{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 59px;
    top: 41px;
}

.product_search{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 28px;
    left: 54px;
    top: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product_search_txt{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 156px;
    height: 28px;
    top: 0px;
    left: 2px;
    font-family: 'Jura';
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;

}
.product_search svg {
    position: absolute;
    left: 176px;
    top: 7px;
}

.vector01{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 732px;
    top: 178px;
}

.metal_color_search{
    position: absolute;
    width: 305px;
    height: 94px;
    left: 400px;
    top: 42px;

}

.Vector7{
    position: absolute;
}
.Vector8{
    position: absolute;
    left: 200px;
    top: 45px;
}

.product_search2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 215px;
    height: 28px;
    left: 54px;
    top: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Vector9{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50px;
    top: 39px;
}

.product_search_txt2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 28px;
    top: -1px;
    left: -9px;
    font-family: 'Jura';
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}


.product_search2 svg {
    position: absolute;
    left: 176px;
    top: 7px;
}

.Vector10{
    position: absolute;
    top: 81px;
    left: 5px;
}