body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
}



@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Gajraj One';
    src: url('../fonts/GajrajOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.MainMenuBody{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4356px;
    overflow-x: hidden;
    overflow-y: auto; 
}
.slide1_mainmenu{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 891px;
}
.slide1_mainmenu{
    position: absolute;
    width: 100%;
}

.bg1_jewelry{
    position: absolute;
    width: 100%;
    height: 2137px;
    
}
.navbar {
    position: absolute;
    width: 100%;
    height: 100px;
}
.logo{
    position: absolute;
    width: 88px;
    height: 80px;
    margin-top: 10px;
    margin-left: 80px;
    color: #FFFFFF;
}

.logo_txt{
    font-family: 'Oi';
    font-size: 16px;
    align-items: flex-start;

}

.menu{
    position: absolute;
    width: 553px;
    height: 43px;
    margin-top: 28px;
    margin-left: 443px;
    border: solid 0.5px white ;
    border-radius: 80px;
}

.menu_1{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 45px;
    height: 19px;
    margin-top: 12px;
    margin-left: 120px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    font-weight: 300;
    cursor: pointer;
}
.menu_2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 65px;
    height: 19px;
    margin-top: 12px;
    margin-left: 225px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    font-weight: 300;
    cursor: pointer;


}
.menu_3{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 83px;
    height: 19px;
    margin-top: 12px;
    margin-left: 350px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    font-weight: 300;
    cursor: pointer;

}

.log-in-author {
    position: absolute;
    width: 174px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-left: 1186px;
    border: none;
    border-radius: 80px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    cursor: pointer;

}

.Author {
    margin: 0;
    padding: 0;
    width: 62px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.img_line {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 10px;
}


.main_info {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 100px;
    width: 100%;
    height: 891px;
}

.txt{
    position: absolute;
    width: 1060px;
    height: 116px;
    margin: 0;
    padding: 0;
    top: 16px;
    left: 190px;
    color: #FFFFFF;
    font-family: "Stalinist One", serif;
    font-size: 128px;
}

.big_img{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 761px;
    height: 732px;
    top: 59px;
    left: 339px;
}

.jewerly_info{
    position: absolute;
    width: 242px;
    height: 164px;
    margin: 0;
    padding: 0;
    left: 80px;
    top: 289px;
}
.group1{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 189px;
    height: 35px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.num1{
    width: 54px;
    height: 35px;
    font-family: "Gajraj One", serif;
    font-size: 24px;
    color: #FFFFFF;
}
.num2{
    width: 54px;
    height: 35px;
    font-family: "Gajraj One", serif;
    font-size: 24px;
    color: #5F5F5F;
}
.jewl{
    width: 81px;
    height: 35px;
    font-family: "Gajraj One", serif;
    font-size: 24px;
    color: #FFFFFF;

}
.jew2{
    width: 81px;
    height: 35px;
    font-family: "Gajraj One", serif;
    font-size: 24px;
    color: #5F5F5F;

}

.group2{
    position: absolute;
    margin: 0;
    width: 189px;
    height: 35px;
    margin-top: 43px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.group3{
    position: absolute;
    margin: 0;
    width: 189px;
    height: 35px;
    margin-top: 86px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.group4{
    position: absolute;
    margin: 0;
    width: 189px;
    height: 35px;
    margin-top: 129px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.quote{
    position: absolute;
    margin: 0;
    width: 315.91px;
    height: 161.94px;
    margin: 0;
    padding: 0;
    top: 220px;
    left: 1044px;
}

.img_quote{
    position: absolute;
    width: 313px;
    height: 162px;
}



.txt_quote{
    position: absolute;
    width: 249px;
    height: 38px;
    margin-top: 59px;
    margin-left: 46px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

.object1{
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
    top: 450px;
    left: 1260px;
}

.object2{
    position: absolute;
    width: 181px;
    height: 181px;
    margin: 0;
    padding: 0;
    top: 525px;
    left: 1143px;
}

.disc1 {
    position: absolute;
    width: 629px;
    height: 114px;
    margin: 0;
    padding: 0;
    top: 641px;
    left: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(17px);
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s;
}

.disc2 {
    position: absolute;
    width: 629px;
    height: 114px;
    margin: 0;
    padding: 0;
    margin-top: 641px;
    margin-left: 731px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(17px);
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s;
}

.disc1-hover {
    background-color: #fff !important;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    border: none !important;
}

.disc11{
    position: absolute;
    margin: 0;
    width: 553px;
    height: 74px;
    margin-top: 20px;
    margin-left: 36px;
}

.disc12 {
    position: absolute;
    margin: 0;
    width: 553px;
    height: 74px;
    margin-top: 20px;
    margin-left: 36px;
}
.txt1{
    position: absolute;
    margin: 0;
    width: 185px;
    height: 38px;
    font-family: 'Jura';
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

.txt2 {
    position: absolute;
    margin: 0;
    width: 185px;
    height: 38px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;
}

.txt2.txt1 {
    color: black;
}

.txt11{
    position: absolute;
    margin-top: 55px;
    font-family: 'Jura';
    color: black;
    font-size: 16px;
}
.txt22 {
    position: absolute;
    margin-top: 55px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: color 0.3s;
}

.txt22.txt11 {
    color: black;
}

.knopka {
    position: absolute;
    width: 165px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 388px;
    border: none;
    background-color: #5F5F5F;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.knopka1{
    margin: 0;
    padding: 0;
    width: 69px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    color: #FFFFFF;
}

.Arrow1{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 10px;
}
.slide2_mainmenu{
    position: absolute;
    margin-top: 891px;
    width: 100%;
    height: 713px;
    background-color: #0A0A0A;
}

.txt_slide2{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 493px;
    margin-left: 80px;
    width: 139px;
    height: 28px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.txt2_slide2{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 493px;
    margin-left: 405px;
    width: 190px;
    height: 28px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.indo1{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 529px;
    margin-left: 81px;
    width: 197px;
    height: 76px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
}
.indo2{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 529px;
    margin-left: 406px;
    width: 197px;
    height: 76px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;

}

.txt3_slide2{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 160px;
    margin-left: 194px;
    width: 408px;
    height: 152px;
    font-family: 'Jura';
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    
}

.bubble{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 232px;
    height: 213px;
    margin-top: 213px;
    margin-left: 45px;
}

.bubble1{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 154px;
    height: 140px;
    margin-top: 72px;
    margin-left: 513px;
}
.container{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 60px;
    top: 171px;
}
.line1 {
    position: absolute;
    width: 317px;
    height: 3px; 
    margin-top: 200px;
    margin-left: 98px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
} 
.circle {
    position: absolute;
    margin-top: 193px;
    margin-left: 88px;
    left: 0;  
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }

.img_slide2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 655px;
    height: 514px;
    margin-top: 120px;
    margin-left: 705px;
}

.slide3{
    position: absolute;
    margin-top: 1604px;
    width: 100%;
    height: 1447px;
    background-color: #0A0A0A;
}

.CATALOG{
    position: absolute;
    margin-top: 64px;
    margin-left: 1076px;
    width: 284px;
    height: 76px;
    font-family: 'Jura';
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(255, 255, 255);
}

.catalog_box{
    position: absolute;
    margin-top: 180px;
    margin-left: 80px;
    width: 1280px;
    height: 1187px;
    border: 0.5px solid white;
}

.line2{
    position: absolute;
    margin-top: 180px;
    margin-left: 513px;
    height: 415px;
    width: 0px;
    border: 0.5px solid white;
}
.acc1{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 385px;
    height: 328px;
    margin-top: 210px;
    margin-left: 103px;
}
.knopka_acc1{
    position: absolute;
    width: 167px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 312px;
    margin-top: 532px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    color: #FFFFFF;
}
.knopka_acc1:hover{
    border: none;
    background-color: #ffffff;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    cursor: pointer;
}
.knopka_acc1:hover .knopka13{
    color: black;
}

.knopka_acc1:hover .line_button svg path {
    fill: black;
  }

.line_button{
    width: 40px;
}
.txt_slide3{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 276px;
    height: 105px;
    margin-left: 582px;
    margin-top: 327px;
    font-family: 'Gajraj One';
    font-size: 24px;
    color: #5F5F5F;
    text-align: center;
}

.otdel1{
    position: absolute;
    margin-top: 180px;
    margin-left: 927px;
    height: 83px;
    width: 433px;
    border: 0.5px solid white;
}
.otdel2{
    position: absolute;
    margin-top: 263px;
    margin-left: 927px;
    height: 83px;
    width: 433px;
    border: 0.5px solid white;
}.otdel3{
    position: absolute;
    margin-top: 346px;
    margin-left: 927px;
    height: 83px;
    width: 433px;
    border: 0.5px solid white;
}.otdel4{
    position: absolute;
    margin-top: 429px;
    margin-left: 927px;
    height: 83px;
    width: 433px;
    border: 0.5px solid white;
}.otdel5{
    position: absolute;
    margin-top: 512px;
    margin-left: 927px;
    height: 83px;
    width: 433px;
    border: 0.5px solid white;
}
.name{
    position: absolute;
    margin-top: 28px;
    margin-left: 20px ;
    width: 88px;
    height: 28px;
    font-family: 'Jura';
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}
.knopka_rings{
    position: absolute;
    width: 167px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 246px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px;    
    border: 0.5px solid white;
    cursor: pointer;
}


.knopka_rings:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka_rings:hover .knopka13{
    color: black;
}
.knopka_rings:hover .line_button svg path {
    fill: black;
  }
.knopka_earrings:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka_earrings:hover .knopka13{
    color: black;
}
.knopka_earrings:hover .line_button svg path {
    fill: black;
  }

.knopka12{
    margin: 0;
    padding: 0;
    width: 69px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding-right: 20px;
}
.knopka_earrings{
    position: absolute;
    width: 167px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 246px;
    margin-top: 20px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}

.knopka13{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding-right: 20px;

}

.line3{
    position: absolute;
    margin-top: 595px;
    margin-left: 80px;
    height: 0px;
    width: 1280px;
    border: 0.5px solid white;
}
.y2k{
    position: absolute;
    margin-top: 595px;
    margin-left: 80px;
    width: 640px;
    height: 382px;
    border: 0.5px solid white;
}

.ai1{
    position: absolute;
    margin-left: 150px;
    margin-top: 106px;
    width: 339px;
    height: 70px;
    font-family: 'Gajraj One';
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255);

}

.ai2{
    position: absolute;
    margin-left: 40px;
    margin-top: 192px;
    width: 559px;
    height: 84px;
    font-family: 'Jura';
    font-size: 24px;
    color: white;
    text-align: center;
}

.knopka_y2k{
    position: absolute;
    width: 181px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 519px;
    margin-top: 912px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}

.knopka_y2k:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka_y2k:hover .knopka13{
    color: black;
}
.knopka_y2k:hover .line_button svg path {
    fill: black;
  }

.arhb{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 320px;
    margin-top: 628px;
    margin-left: 876px;
}

.line4{
    position: absolute;
    margin-top: 977px;
    margin-left: 80px;
    height: 0px;
    width: 1280px;
    border: 0.5px solid white;
}

.knopka4{
    position: absolute;
    width: 181px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 1159px;
    margin-top: 912px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}

.rhb2{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 332px;
    height: 415px;
    margin-top: 967px;
    margin-left: 120px;
}
.rhb3{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 295px;
    height: 252px;
    margin-top: 1048px;
    margin-left: 572px;
}
.line5{
    position: absolute;
    margin-top: 981px;
    margin-left: 513px;
    height: 386px;
    width: 0px;
    border: 0.5px solid white;
}

.knopka5{
    position: absolute;
    width: 181px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 312px;
    margin-top: 1304px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}
.knopka6{
    position: absolute;
    width: 181px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 726px;
    margin-top: 1304px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}
.knopka4:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka4:hover .knopka13{
    color: black;
}
.knopka4:hover .line_button svg path {
    fill: black;
  }
.knopka5:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka5:hover .knopka13{
    color: black;
}
.knopka5:hover .line_button svg path {
    fill: black;
}
.knopka6:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka6:hover .knopka13{
    color: black;
}
.knopka6:hover .line_button svg path {
    fill: black;
  }


.slowtxt{
    position: absolute;
    margin: 0;
    margin-top: 977px;
    margin-left: 927px;
    height: 390px;
    width: 433px;
    border: 0.5px solid white;
}

.creat{
    position: absolute;
    margin-top: 141px;
    margin-left: 148px;
    width: 137px;
    height: 105px;
    font-family: 'Gajraj One';
    font-size: 24px;
    color: #5F5F5F;
    text-align: center;
}

.slide4{
    position: absolute;
    margin-top: 3051px;
    width: 1529px;
    height: 904px;
    background-color: #0A0A0A;
}

.collect{
    position: absolute;
    width: 440px;
    height: 76px;
    margin-top: 64px;
    margin-left: 80px;
    font-family: 'Jura';
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);

}

.mini_collect{
    position: absolute;
    width: 211px;
    height: 35px;
    margin-top: 160px;
    margin-left: 80px;
    font-family: 'Gajraj One';
    font-size: 24px;
    color: #5F5F5F;
}

.collect_img{
    position: absolute;
    width: 413px;
    height: 524px;
    margin-top: 207px;
    margin-left: 80px;
}

.info_collect{
    position: absolute;
    width: 196px;
    height: 95px;
    margin-top: 751px;
    margin-left: 297px;
    font-family: 'Jura';
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;

}


.knopka_collect{
    position: absolute;
    width: 183px;
    height: 43px;
    margin: 0;
    padding: 0;
    margin-left: 80px;
    margin-top: 751px;
    border: 0.5px solid white;
    border-radius: 80px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    padding: 0 20px; 
    background-color: transparent;
    cursor: pointer;
}


.knopka_collect:hover{
    border: none;
    background-color: #ffffff; 
}
.knopka_collect:hover .knopka13{
    color: black;
}
.knopka_collect:hover .line_button svg path {
    fill: black;
  }

.collection1{
    position: absolute;
    width: 838px;
    height: 226px;
    margin-left: 602px;
    margin-top: -1px;
    border: solid 0.5px #5F5F5F ;

}
.collection1:hover{
    background-color: #ffffff;
}
.collection1:hover .coll_name {
    color: #000000;
  }
.collection1:hover .coll_author {
    color: #000000;
}

.collection1:hover .name_01{
    color: #000000;
}
.collection1:hover .name_02{
    color: #000000;
}.collection1:hover .name_03{
    color: #000000;
}

.clas1{
    position: absolute;
    width: 417px;
    height: 82px;
    margin-top: 72px;
    margin-left: 20px;
}

.coll_name{
    position: absolute;
    width: 263px;
    height: 47px;
    margin: 0;
    font-family: 'Gajraj One';
    font-size: 32px;
    text-align: left;
    color: #ffffff;
}

.coll_author{
    position: absolute;
    width: 413px;
    height: 38px;
    margin-top: 44px;
    margin-left: 4px;
    font-family: 'Jura';
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.clas2{
    position: absolute;
    width: 474px;
    height: 170px;
    margin-left: 1055px;
    margin-top: 28px;
}
.img1{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left:453px;
    margin-top: 28px;
}
.img2{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 610px;
    margin-top: 28px;

}
.img3{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 767px;    
    margin-top: 28px;
}

.name_01{
    position: absolute;
    margin-left: 473px;
    margin-top: 179px;
    width: 86px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: white;
}
.name_02{
    position: absolute;
    margin-left: 633px;
    margin-top: 179px;
    width: 86px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: white;
}
.name_03{
    position: absolute;
    margin-left: 793px;
    margin-top: 179px;
    width: 86px;
    height: 19px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.collection2{
    position: absolute;
    width: 838px;
    height: 226px;
    margin-top: 225px;
    margin-left: 602px;
    border: solid 0.5px #5F5F5F ;

}
.collection2:hover{
    background-color: #ffffff;
}
.collection2:hover .coll_name {
    color: #000000;
  }
.collection2:hover .coll_author {
    color: #000000;
}

.collection2:hover .name_01{
    color: #000000;
}
.collection2:hover .name_02{
    color: #000000;
}.collection2:hover .name_03{
    color: #000000;
}

.collection3{
    position: absolute;
    width: 838px;
    height: 226px;
    margin-left: 602px;
    margin-top: 451px;
    border: solid 0.5px #5F5F5F ;
}
.collection3:hover{
    background-color: #ffffff;
}
.collection3:hover .coll_name {
    color: #000000;
  }
.collection3:hover .coll_author {
    color: #000000;
}

.collection3:hover .name_01{
    color: #000000;
}
.collection3:hover .name_02{
    color: #000000;
}.collection3:hover .name_03{
    color: #000000;
}
.collection4{
    position: absolute;
    width: 838px;
    height: 226px;
    margin-left: 602px;
    margin-top: 677px;
    border: solid 0.5px #5F5F5F ;
}
.collection4:hover{
    background-color: #ffffff;
}
.collection4:hover .coll_name {
    color: #000000;
  }
.collection4:hover .coll_author {
    color: #000000;
}

.collection4:hover .name_01{
    color: #000000;
}
.collection4:hover .name_02{
    color: #000000;
}.collection4:hover .name_03{
    color: #000000;
}
.slide5{
    position: absolute;
    width: 100%;
    height: 401px;
    margin-top: 3955px;
}

.bg{
    position: absolute;
    width: 100%;
    height: 401px;
}
.copyright{
    position: absolute;
    width: 322px;
    height: 76px;
    margin-top: 139px;
    margin-left: 559px;
    font-family: 'Jura';
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}
.bg1{
    position: absolute;
    width: 100%;
    height: 891px;
}

.bg3{
    position: absolute;
    width: 100%;
    height: 1447px;
}